:root{
    --cor01:#2B3D43 ;
    --cor02:#3E515B ;
    --cor03:#4D6471 ;
    --cor04:#5C7988 ;
    --cor05:#698899 ;
    --cor06:#809AA9 ;
    --cor07:#97ADBA ;
    --cor08:#B4C5CE ;
    --cor09:#D0DCE2 ;
}
